@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

html {
    min-height: 100%;
    position: relative;
}

body {
    font-family: oswald;
    margin: 0;
    background-color: #fed83a;
}

header {
    text-align: center;
    height: 50px;
}

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

#messages {
    height: 20px;
    font-family: oswald;
    font-weight: 800;
}

.player {
    float: left;
    width: 45%;
}

#player-image {
    width: 75%;
}

.computer {
    float: right;
    width: 45%;
}

#computer-image {
    width: 75%;
}

p {
    font-family: oswald;
    font-weight: 800;
}

.computer h3 {
    width: 140px;
}