@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

html {
    min-height: 100%;
    position: relative;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

body {
    font-family: oswald;
    margin: 0;
    background-color: #fed83a;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

header {
    text-align: center;
    height: 50px;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

footer {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    min-height: 80px;
    padding-top: 5px;
    text-align: center;
    color: #fff;
    background-color: #000;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

.game-area {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    text-align: center;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

.control {
    display: inline-block;
    margin: 2px;
    width: 80px;
    height: 40px;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

#messages {
    height: 20px;
    font-family: oswald;
    font-weight: 800;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

.player {
    float: left;
    width: 45%;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

#player-image {
    width: 75%;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

.computer {
    float: right;
    width: 45%;
}

/* This code was taken from Portfolio 2: Project Submission / Portfolio Project Scope Video https://shorturl.at/puM46*/

#computer-image {
    width: 75%;
}

p {
    font-family: oswald;
    font-weight: 800;
}

.computer h3 {
    width: 140px;
}

@media screen and (max-width: 320px) {
    footer {
        bottom: -135px;
    }
}